# http://www.gnu.org/software/automake

Makefile.in
origin.txt
*.xml
build
*.pyc
documents/html

# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
gldcore/config.h.in
gldcore/config.h
/configure.scan
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
gldcore/stamp-h1

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Object files
*.ko
*.elf

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

.autotools
.cproject
.project
.settings/
Makefile
config.log
config.status
configure
configure~
gldcore/gridlabd
gridlabd.spec
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/lt-obsolete.m4
gldcore/build.h
gldcore/config.h.in~
gridlabd.bin
install/
third_party/xerces*/*
third_party/armadillo-7.800.1.tar.gz
third_party/mysql-connector-c-6.1.11-linux-glibc2.12-x86_64.tar.gz
third_party/xerces-c-src_2_8_0.tar.gz
third_party/._armadillo-7.800.1
third_party/armadillo-7.800.1.tar
third_party/armadillo-7.800.1/
third_party/mysql-connector-c-6.1.11-linux-glibc2.12-x86_64.tar
third_party/mysql-connector-c-6.1.11-linux-glibc2.12-x86_64/
third_party/xerces-c-src_2_8_0.tar
*.xcbkptlist
.*.swp
.DS_Store
*.json
output/
.bash_profile
*.tmp
*-checkpoint.ipynb
.*
*.log

# document processor outputs
docs/gridlabd.aux
docs/gridlabd.pdf
docs/version.tex

# some common autotest output that should be ignored
validate.txt
autotest/test_*/
*/autotest/test_*/
*/*/autotest/test_*/
*/*/*/autotest/test_*/
gldcore/autotest/ceus.glm
gldcore/autotest/ica_test.glm
gldcore/autotest/test_output_save.csv
gldcore/converters/autotest/IEEE-13-cyme.glm

# widely found generic output files
object_profile.txt
fault_check.txt

# specific outputs that should be ignored
gldcore/link/python/example.png
models/ieee123/config/local.glm
gldcore/converters/autotest/IEEE-*-cyme/*
gridlabd.glm
gldcore/autotest/config.glm
gldcore/autotest/modify.glm
validate.zip.gz
gldcore/converters/autotest/*.png
validate.tar.gz
gldcore/converters/autotest/weather_recorder.csv
gldcore/converters/onpoint_history_postal-code_hour_201801010000-201812312359.csv
gldcore/converters/onpoint_history_postal-code_hour_201801010000-201812312359.glm
gldcore/converters/test_data.csv
gldcore/converters/test_data.glm
gldcore/converters/autotest/weather_recorder.csv
gldcore/converters/noaa.csv
gldcore/converters/noaa.glm
gldcore/link/python/examples/example_2/example.png
gldcore/link/python/examples/example_3/example.png
gldcore/link/python/examples/example_3/x.csv
gldcore/link/python/examples/example_1/example.png
gldcore/link/python/examples/example_1/x.csv
gldcore/autotest/test.glm
powerflow/autotest/test_IEEE13_pole_output.csv
gridlabd-core.*
documents/gridlabd.md
documents/gridlabd.pdf
openfido.err
test_*.html
gldcore/converters/autotest/IEEE-123.html
gldcore/converters/autotest/solver_nr_profile.csv
gldcore/converters/autotest/table2glm_input_noclass.glm
gldcore/converters/autotest/table2glm_input_noname.glm
gldcore/converters/autotest/table2glm_input.glm
gldcore/geodata/docs/geodata.conf
gldcore/gridlabd.in
geodata.conf
gldcore/autotest/output.csv
python_extras/example/output.csv
*.egg
gridlabd.egg-info/
gldcore/link/python/dist/
gldcore/link/python/gridlabd.egg-info/