version: 2
jobs:
  build:

    docker:
      - image: slacgismo/gridlabd_circleci_base:latest
    
    steps:
      - checkout   
      - run:
          name: Update base image
          command: |
            cd /tmp
            wget -q https://dl.influxdata.com/influxdb/releases/influxdb_1.7.9_amd64.deb
            sudo dpkg -i influxdb_1.7.9_amd64.deb
            sudo pip3 -q install Pillow
            sudo apt-get install cmake -y
            sudo apt-get install mdbtools -y
            cd /home/circleci/project/third_party
            tar xfz armadillo-7.800.1.tar.gz 2>/dev/null
            cd armadillo-7.800.1
            cmake .
            make
      - run:
          name: Configure build
          command: |
            cd /home/circleci/project
            autoreconf -isf
            ./configure
      - run:
          name: Build gridlabd
          command: |
            sudo make -j20 system
      - run:
          name: Validate gridlabd
          command: |
            sudo /usr/bin/influxd run 1>/tmp/influxd.log 2>/tmp/influxd.err &
            sleep 5
            export LD_LIBRARY_PATH=.:$${LD_LIBRARY_PATH:-${libdir}}
            gridlabd --validate
      - store_artifacts:
          path: /home/circleci/project/validate.txt
          destination: validate-output.txt
      - store_artifacts:
          path: /home/circleci/project/validate-output.tar.gz
          destination: validate-output.tar.gz
          when: on_fail
      - store_artifacts:
          path: /tmp/influxd.log
          destination: /logs/influxd.log
          when: on_fail
      - store_artifacts:
          path: /tmp/influxd.err
          destination: /logs/influxd.err
          when: on_fail
