version: 2
jobs:
  build:
    docker:
      - image: slacgismo/circleci_gridlabd_base:latest
    steps:
      - checkout    
      - run:
          name: Build gridlabd
          command: |
            autoreconf -isf
            ./configure
            export PATH=/home/circleci/project/install/bin:$PATH
            sudo make install-validate
            export LD_LIBRARY_PATH=.:${LD_LIBRARY_PATH:-/tmp}
            export GLD_ETC=/usr/local/share/gridlabd
            export GLD_BIN=/usr/local/bin
            export GLD_LIB=/usr/local/lib/gridlabd
            sudo make doxygen-run
      - store_artifacts:
          path: /home/circleci/project/validate-output.tar.gz
          destination: /gridlabd/validate-output.tar.gz
      - run:
          name: Generate online documentation
          command: sudo make doxygen-run
      - store_artifacts:
          path: /home/circleci/project/documents
          destination: /gridlabd/documents
      - store_artifacts:
          path: /home/circleci/project/validate-output.tar.gz
          destination: validate-output.tar.gz
          when: on_fail
