version: 2
jobs:
  build:
    docker:
      - image: slacgismo/circleci_gridlabd_base:latest
    steps:
      - checkout    
      - run:
          name: Upgrade python
          command: |
            pip install pandas        
      - run:
          name: Build gridlabd
          command: |
            autoreconf -isf
            ./configure --enable-silent-rules --prefix=$PWD/install
            export PATH=$PWD/install/bin:$PATH
            sudo make -j16 install
      - run:
          name: Validate gridlabd
          command: |
            export PATH=$PWD/install/bin:$PATH
            gridlabd -T 8 --validate
      - run:
          name: Save validation output (if any) on failure
          command: tar cfz validate-output.tar.gz ./*/autotest/*/*
          when: on_fail
      - store_artifacts:
          path: /home/circleci/project/validate.txt
          destination: /gridlabd/validate.txt
      - store_artifacts:
          path: /home/circleci/project/validate-output.tar.gz
          destination: /gridlabd/validate-output.tar.gz
      - run:
          name: Generate online documentation
          command: sudo make doxygen-run
      - store_artifacts:
          path: /home/circleci/project/documents
          destination: /gridlabd/documents
