version: 2
jobs:
  build:
    docker:
      - image: slacgismo/circleci_gridlabd_base:latest
    steps:
      - checkout    
      - run:
          name: Build gridlabd
          command: |
            autoreconf -isf
            ./configure
            export PATH=/home/circleci/project/install/bin:$PATH
            sudo make -j16 install-validate
            sudo make doxygen-run
      - store_artifacts:
          path: /home/circleci/project/validate.txt
          destination: /gridlabd/validate.txt
      - store_artifacts:
          path: /home/circleci/project/documents
          destination: /gridlabd/documents
      - store_artifacts:
          path: /home/circleci/project/validate-output.tar.gz
          destination: validate-output.tar.gz
          when: on_fail
