CensusData==1.13
Fiona==1.8.21
Pillow==9.0.1
PyGithub==1.54.1
Shapely==1.8.2
cfo==1.0.1
docker==4.4.4
elevation==1.1.2
folium==0.12.1
geopandas>=0.9.0
geopy==2.1.0
haversine==2.3.0
ipykernel==5.5.5
ipyplot==1.1.0
ipython==7.31.1
matplotlib==3.3.3
matplotlib_inline>=0.1.2
metar>=1.8.0
numpy>=1.21.4
openpyxl==3.0.7
pandas==1.1.4
pysolar==0.9
pytz==2020.4
scikit-learn==1.1.1
scipy==1.8.1
xlrd==2.0.1
