name: master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: slacgismo/gridlabd_dockerhub_base:220921

    steps:
    - uses: actions/checkout@v2
    - name: Update python3 modules
      run: pip3 install -r requirements.txt
    - name: Install openfido
      run: curl -sL https://raw.githubusercontent.com/openfido/cli/main/install.sh | bash
    - name: Run autoconf
      run: autoreconf -isf
    - name: Configure build
      run: ./configure
    - name: Build gridlabd
      run: make -j10 system
    - name: Validate build
      run: |
        gridlabd -D keep_progress=TRUE -T 0 --validate -D github_actions=yes || ( utilities/save_validation_errors ; false )
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: validate-result
        path: |
          validate.txt
          validate.tar.gz
